/***Body***/
body{
    margin:0px 30px 0px 0px;
    background-image: url("12.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-image: url("6.png");
}
li a {
    display: block;
    color:snow;
    padding: 8px 16px;
    text-decoration: none;
    font-size:large;
    font-weight:500;
}
  
li a.active {
    background-color:snow;
    color: slateblue;
}
  
li a:hover:not(.active) {
    background-color:snow;
    color: slateblue;   
}
h2{
    color: rgb(92, 76, 197);
}
P{
    font-size: 0.5cm;
    text-align: justify;
    display: flex;
    line-height: 1.6;
}
/***about page***/

.container{
    max-width:auto;
}
.container .image {
    width: 400px;
    margin: 30px 30px 30px 0;
    float: left;
}
.container .text {
    display: inline;
}

table, th {
    border: 1px solid black;
    width:700px;
    height:200px;
}
.t1{
    background-color:rgb(252, 180, 97);
}
.t2{
    background-color:powderblue;
}
.t3{
    background-color:thistle;
}
.t4{
    background-color:violet;
}
.pic {
    position:relative;
    top:70%;
    height:7em;
    width:7em;
    border:5px solid rgb(55, 181, 219);
    border-radius: 70px;
    background-color: silver;
}
.pic:hover {
    box-shadow: 0 0 5px 2px rgb(58, 50, 50);
}
.container2{
    position:relative;
    display:inline-block;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7em;
    width: 7em;
    opacity: 0;
    border:5px solid rgb(55, 181, 219);
    border-radius: 70px;
    transition: .5s ease;
    background-color:honeydew;
}
.container2:hover .overlay {
    opacity: 1;
}
  
.text {
    color:black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
/***Qualifications page***/
.column-2a {
    float: left;
    width: 30%;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    padding-bottom:60px;
    height:300px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 40px;
    background-color:white;
}
.table-style{
    border: black;
    width: 110%;
    height: 80%;
}
/***project page***/
.projects{
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-size: 30cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
}
/***contact page***/
.social-image{
    height: 4rem;
}
.social-links {
    display: flex;
    justify-content: left;
    padding: var(--gutter-normal) 0;
    list-style: none;
}

.social-link:not(:last-of-type) {
    margin-right: var(--gutter-small);
}

.social-image {
    height: 4rem;
}

